:root {
  --green: rgb(158, 228, 152);
  --darkgreen: rgb(132, 189, 127);
}

.App {
  text-align: center;
}
.navbar {
  margin-bottom: 50px;
}
.navBtn {
  padding: 0px 25px;
}
.title {
  color: var(--green);
  font-size: 40px;
  cursor: default;
  text-shadow: 1px 1px #000;
}
.title:hover {
  color: var(--darkgreen);
}
.blog-post-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.blog-post-form > Form {
  width: 80%;
}
.btn1 {
  width: 100px;
  background-color: var(--darkgreen);
  border: none;
}
.h2-1 {
  margin-bottom: 30px;
  color: #000;
  text-shadow: 1px 1px var(--darkgreen);
}
.div2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.table2 {
  width: 80%;
  margin-top: 50px;
}
.head2 {
  background-color: var(--darkgreen);
}
.body2 {
  background-color: #fff;
}
.form2 {
  width: 30%;
}
.btn2 {
  background-color: var(--darkgreen);
  border: none;
}
.div3 {
  display: flex;
  justify-content: center;
}
.div33 {
  width: 50%;
}
.blog-list3 {
  width: 100%;
  cursor: grab;
}

.article-content3 {
}
.blog-reading-site {
  display: flex;
  justify-content: space-around;
}
.div4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form4 {
  width: 40%;
}
.filter4 {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.filter4 > p {
  margin: 0px 10px 0px 0px;
}
.btn1-4 {
  margin-right: 5px;
}
.btn2-4 {
  margin-right: 5px;
}
.listgroup4 {
  margin-top: 5px;
  min-width: 400px;
  text-align: left;
}
