.App {
  text-align: center;
}
.navbar {
  margin-bottom: 50px;
}
.navBtn {
  padding: 0px 25px;
}
.title {
  color: rgb(157, 221, 151);
  font-size: 40px;
  cursor: default;
}
.title:hover {
  color: rgb(157, 221, 151);
}
.blog-post-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.blog-post-form > Form {
  width: 80%;
}
.btn1 {
  width: 100px;
}
.div2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.table2 {
  width: 80%;
  margin-top: 50px;
}
.head2 {
  background-color: rgb(157, 221, 151);
}
.body2 {
  background-color: #fff;
}
.form2 {
  width: 30%;
}
